/* Google-fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=League+Spartan:wght@400;500;600;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'spartan', sans-serif;
}

h1 {
  font-size: 20px;
  line-height: 64px;
  color: #000;
}

h2 {
  font-size: 50px;
  line-height: 54px;
  color:#000;
}

h4 {
  font-size: 50px;
  color: #026548;
}

h5 {
  font-size: 30px;
  color: #000;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 25px;
  color: #000;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 0;
}

.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
}

button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background-color: #ffff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}

.logo {
  width: 10%;
  height: 10%;
}

/* Header start */

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #e3e3e3;
  padding: 20px 80px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position:sticky;
  top: 0;
  left: 0;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s;
}

#navbar li a:hover,
#navbar li a.active {
  color: #4665b4;
}

#navbar li  a.active::after,
#navbar li a:hover::after {
  content: '';
  width: 30% ;
  height: 2px;
  background: #4665b4;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

/* home Page */

#hero {
  background-image: url("img/background.png");
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% right 0;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#hero h4 {
  padding-bottom: 15px;
}

#hero h1 {
  color: #026548;
}

#hero button {
  background-image: url("img/button.png");
  background-color: transparent;
  color: #026548;
  border: 0;
  padding: 14px 80px 14px 65px;
  cursor: pointer;
  background-repeat: no-repeat;
  font-weight: 700;
  font-size: 15px;
}

#feature {
  display: flex;
  align-items:center;
  justify-content: space-between;
  flex-wrap:wrap;
}

.section-p1 .fe-box img {
  width: 120px;
  height: 150px;
  object-fit: cover;
}

#feature .fe-box {
  width: 150px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0;
}

#feature .fe-box:hover {
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.01);
}

#feature .fe-box img {
  width: 100%;
  margin-bottom: 10px;
}

#feature .fe-box h6 {
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: #4665b4;
  background-color: #fddde4;
}

#feature .fe-box:nth-child(2) h6{
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: #4665b4;
  background-color: #a1d9eb;
}

#feature .fe-box:nth-child(3) h6{
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: #4665b4;
  background-color: #c7f9cc;
}

#feature .fe-box:nth-child(4) h6{
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: #4665b4;
  background-color: #fdffb6;
}

#feature .fe-box:nth-child(5) h6{
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: #4665b4;
  background-color: #e1e5f2;
}

#product1 {
  text-align: center;
}

#product1 .pro-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}

#product1 .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 20px;
  cursor: pointer;
  margin: 15px 0;
  transition: 0.2s;
  position: relative;
}

#product1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro img {
  width: 100%;
  border-radius: 20px;
}

#product1 .des h4 {
  font-size: 20px;
  color: #222;
  padding-top: 7px;
}

#product1 .pro .des {
  text-align: start;
  padding: 10px 0;
}

#product1 .pro .des span {
  color: #222;
  font-size: 15px;
}

#product1 .pro .des i {
  font-size: 12px;
  color: rgb(243, 181, 25);
}

#product1 .pro .des h5 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #068547;
}

#product1 .pro a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #c8f6ea;
  font-weight: 500;
  color: #068547;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;
}

#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("img/banner/b1.jpg");
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}

#banner h2 {
  font-size: 20px;
}
#banner h4 {
  color: #000;
  font-size: 40px;
  padding: 10px 0;
}

#banner h4 span {
  color: rgb(173, 25, 25);
}

#banner button:hover {
  background-color: #026548;
  color: #ffff;
}

#sm-banner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#sm-banner .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url("img/banner/b2.jpg");
  min-width: 580px;
  height: 50vh;
  background-size: cover;
  background-position: center;
  padding: 30px;
}

#sm-banner .banner-box h2 {
  color: #ffff;
  font-size: 20px;
  font-weight: 300;
}
#sm-banner .banner-box h4 {
  color: #ffff;
  font-size: 28px;
  font-weight: 300;
}

#sm-banner span {
  color: #ffff;
  font-size: 20px;
  font-weight: 800;
  padding-bottom: 15px;

}

button.white {
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: #ffff;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #ffff;
  outline: none;
  transition: 0.2s;
}

#sm-banner .banner-box2 {
  background-image: url("img/banner/b3.jpg");
}

#sm-banner .banner-box button:hover {
  background-color: #026548;
  border: 1px solid #026548;
}
